/* Palette colori */
:root {
    --color-light-blue: #B4D0e7;
    --color-blue: #0061FF;
    --color-dark: #0E0E0E;
    --color-gray: #F5F5F5;
    --color-text-cta: #753F63;
    --color-white: #FFFFFF;
    --color-logo-green: #A2D39B;
    --color-logo-garnet: #61082B;
    --color-logo-blue: #0093CE;
    --color-logo-light-red: #FF1C1C;
    --color-logo-red: #D5001F;
    --color-logo-light-blue: #B4D0e7;
    --color-logo-dark-blue: #0D2481;
    --color-logo-yellow: #FFD839;
}

/* Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Configurazioni generali */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--color-white);
    color: var(--color-dark);
}

/* Utilities */

/* Classe debug per posizionamenti */
.debug {
    border: 1px solid red;
}

/* Container */
.container {
    margin: 0 auto;
    max-width: 1200px;
}

.container-small {
    margin: 0 auto;
    max-width: 1000px;
}

/* Colori di sfondo */
.bgcol-light-blue {
    background-color: var(--color-light-blue);
}

footer {
    background-color: var(--color-dark);
    color: var(--color-white);
}