/* Palette colori */
:root {
    --color-light-blue: #B4D0e7;
    --color-blue: #0061FF;
    --color-button-dark-blue: #044FCA;
    --color-dark: #0E0E0E;
    --color-gray: #A9A9B1;
    --color-text-cta: #753F63;
    --color-white: #FFFFFF;
    --color-logo-green: #A2D39B;
    --color-logo-garnet: #61082B;
    --color-logo-blue: #0093CE;
    --color-logo-light-red: #FF1C1C;
    --color-logo-red: #D5001F;
    --color-logo-light-blue: #B4D0e7;
    --color-logo-dark-blue: #0D2481;
    --color-logo-yellow: #FFD839;
    --color-logo-center: #F5F5F5;   
    --user-plain-height: 300px;
}

/* Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Configurazioni generali */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--color-white);
    color: var(--color-dark);
}

ul {
    list-style: none;
    list-style-position: outside;
}

h1 {
    font-size: 4.6em;
    font-weight: 900;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 1.8em;
}

/* MI CREO LA CLASSE PER LE IMMAGINI FLUIDE */
img {
    width: 100%;
    display: block;
}

hr {
    width: 20%;
}

/* ----------------------------------------- */

/* Utilities */
/* Classe debug per posizionamenti */
.debug {
    border: 1px solid red;
}

/* Container */
.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 25px;
}

.container-small {
    margin: 0 auto;
    max-width: 1000px;
}

/* Imposto il container in jumbotron a relative
   per far scendere di 80px il contenuto di
   jumbo-text e jumbo-image   */
#jumbotron .container {
    position: relative;
    top: 80px;
}

/* Distanzio l'h1 dal paragrafo e dall'immagine successiva */
#jumbotron .container h1 {
    margin-bottom: 70px;
}

/* Flexbox utilizzate */
.display-flex {
    display: flex;
}

.flex-start {
    justify-content: flex-start;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.align-items-stretch {
    align-items: stretch;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* Altre spaziature (padding e margin) e bordi */
.padding-20 {
    padding: 26px;
}

.padding-50 {
    padding: 50px;
}

.header-menu {
    column-gap: 40px;
    align-items: center;
}

.header-menu>li a {
    text-decoration: none;
    color: var(--color-dark);
    font-weight: 500;
}

.jumbo-text a button {
    margin: 30px 0;
}

/* Imposto un margine dalla sezione superiore */
#plans {
    margin-top: 150px;
}

.billing>h2 {
    margin-bottom: 50px;
}

.billing-select {
    column-gap: 50px;
}

/* Faccio comparire il bordo in basso all'hover del mouse e gli do anche
uno spessore maggiore. L'hover lo imposto anche per il pulsante */
.header-menu>li a:hover,
.header-menu>li a button:hover {
    text-decoration: underline;
    /* Distanza dal testo dell'ancora */
    text-underline-offset: 37px;
    /* Spessore linea */
    text-decoration-thickness: 3px;
    /* Colore linea */
    text-decoration-color: var(--color-dark);
}

/* Dimensioni container */
.width-30 {
    width: 30%;
}

.width-40 {
    width: 40%;
}

.width-60 {
    width: 60%;
}

.width-70 {
    width: 70%;
}

/* Colori di sfondo */
.bgcol-light-blue {
    background-color: var(--color-light-blue);
}

/* Grafica pulsanti */
button {
    padding: 10px 25px;
    background-color: var(--color-blue);
    color: var(--color-white);
    font-size: 16px;
    font-weight: 500;
    border: none;
    box-shadow: 0px 1px 8px var(--color-logo-dark-blue);
    cursor: pointer;
}

button:hover {
    background-color: var(--color-button-dark-blue);
    font-weight: 530;
}

/* Sezioni della pagina */

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: var(--color-white);
    box-shadow: 0px 1px 8px var(--color-dark);
}

/* Jumbotron */
#jumbotron {
    padding-top: 100px;
}

footer {
    background-color: var(--color-dark);
    color: var(--color-white);
}

/* Plans */


.single-plan {
    margin: 50px 0;
}

/* Distanzio le varie section */
.margin-section {
    margin-bottom: 150px;
}

.plans-type {
    /* padding: 15px 30px; */
    border: 1px solid var(--color-gray);
    width: calc((100% - 90px) / 3);
}

.top-plans-type {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid var(--color-gray);
}

/* Imposto una spaziatura e una line-height per tutti
container presenti in single-plan */
.title-plans-type,
.users-plan,
.button-plans,
.bottom-plans {
    padding: 20px 28px;
    line-height: 35px;
}

/* Imposto questo container con un'altezza fissa per tenere allineati
orizzontalmente i pulsanti (container "button-plans") di tutte e tre 
le colonne anche nel caso di testi più o meno lunghi */
.users-plan {
    height: var(--user-plain-height);
    min-width: 300px;
}

/* Allineo il pulsante al centro e gli do un pò
   di spaziatura in basso */
.button-plans button {
    text-align: center;
    margin-bottom: 20px;
}

.line-empty-plans {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
    color: var(--color-gray);
}


/* Testo in grigio /utente/mese */
.title-plans-type ul li:last-child {
    color: var(--color-gray);
}

/* Sezione Business */
.row-business {
    gap: 45px;
}

.business-column {
    width: calc((100% - 90px) / 3);
}

/* Sezione team-business */
.team-business-content {
    padding-right: 130px;
    padding-bottom: 50px;
}


/* Sezione customers "Loghi" */
.customers-brand>div {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.brand {
    width: 50%;
    height: 50%;
}

.bgcolor-logo-1 {
    background-color: var(--color-logo-green);
}

.bgcolor-logo-1 {
    background-color: var(--color-logo-garnet);
}

.bgcolor-logo-3 {
    background-color: var(--color-logo-blue);
}

.bgcolor-logo-4 {
    background-color: var(--color-logo-light-red);
}

.bgcolor-logo-5 {
    background-color: var(--color-logo-red);
}

.bgcolor-logo-6 {
    background-color: var(--color-logo-light-blue);
}
.bgcolor-logo-7 {
    background-color: var(--color-logo-dark-blue);
}
.bgcolor-logo-8 {
    background-color: var(--color-logo-yellow);
}
.center {
    background-color: var(--color-logo-center);
}
/* Imposto la comparsa automatica della barra 
al testo centrale in caso di overflow dovuto
alle dimensioni diverse dei vari dispositivi */
.overflow-auto {
    overflow-y: auto;
}


/* Personalizzazione Icone Font Awesome */
.fa-arrow-down {
    color: var(--color-dark);
    margin-top: 80px;
}

.fa-circle-dot {
    color: var(--color-blue);
}

.fa-circle {
    color: var(--color-gray);
}

.fa-check {
    color: var(--color-blue);
}

/* Fine personalizzazione Icone Font Awesome */